<div layout="row" ng-if="vm.images.list.length > 0"> 
    <md-content layout="column" flex-xs flex-gt-xs="50"> 
        <md-card ng-repeat="image in vm.images.list" ng-if="$index % 2 == 0"> 
            <img ng-src="/galleryImages/{{image.id}}" class="md-card-image"> 
        </md-card> 
    </md-content> 
    <md-content layout="column" flex-xs flex-gt-xs="50"> 
        <md-card ng-repeat="image in vm.images.list" ng-if="$index % 2 == 1"> 
            <img ng-src="/galleryImages/{{image.id}}" class="md-card-image"> 
        </md-card> 
    </md-content> 
</div>

<div layout="row" ng-hide="vm.images.list.length > 0"> 
    <md-content layout="column" flex> 
        <md-card>
            <md-card-content>
                <p>Oh no! This photographer doesn't have any images uploaded yet.</p>
                <p>If you are this photographer, you can <a ui-sref="account.vendor">go here</a> to upload images.</p>
                <p>Make sure you check the box to add them to your gallery!</p>
            </md-card-content>
        </md-card> 
    </md-content>
</div>