<md-button flex ng-repeat="photographer in vm.photographers.list" layout="row" ui-sref="photographers.about(
        {subvendorId: photographer.id, 
        package: vm.params.package, 
        location: vm.params.location, 
        longitude: vm.params.longitude, 
        latitude: vm.params.latitude, 
        date: vm.params.date
        })">
    {{photographer.name}}<span flex="90"></span>{{photographer.price | currency:"$":0}}<span flex="10"></span>{{vm.formatRating(photographer.rating)}}
</md-button>