<h1>FairlyWed Photographer Contracts</h1>

<p>Last Updated: September 10, 2017</p>

<p>Two contracts are included below. The goal of these contracts is to make it clear what can be expected from a Client and
    from a Photographer so that there are no surprises. The FairlyWed Client-Photographer Base Contract covers things that
    are required in order to use the FairlyWed Platform. The details in the Base contract cannot be changed. The FairlyWed
    Client-Photographer Default Contract covers things that are relatively standard throughout the industry, but may vary
    slightly from Photographer to Photographer. The datails in the FairlyWed Client-Photographer Default Contract may be
    overridden by a separate contract between the Client and the Photographer.</p>

<h2>FairlyWed Client-Photographer Base Contract</h2>
<p>Clients and Photographers on FairlyWed agree to meet, at a minimum, the following requirements in order to use the FairlyWed
    Platform. The Base Contract may not be altered or overridden by a separate agreement between the Client and the Photographer.
</p>

<h4>Reservation</h4>
<p>Upon signature and deposit total, a Photographer will reserve the time and date agreed upon, and will not make other reservations
    for that time and date. For this reason the agreed reservation deposit above is non-refundable, even if the date is changed
    or the wedding canceled for any amount owed for the wedding package described is due on or before the wedding date.</p>

<h4>Photographic Coverage</h4>
<p>Photographers on the FairlyWed Platform agree to include:
    <ul>
        <li>Photographic coverage of the wedding for the number of hours listed on the package (4, 6, 8, or 10 hours)</li>
        <li>Photographic coverage of the wedding by the number of photographers listed on the package (1 or 2 photographers)</li>
    </ul>
</p>

<h4>Number of Photographs</h4>
<p>The Photographer will deliver a minimum of 10 images per photographer per hour. For example:
    <ul>
        <li>a Client having booked a 6 hour event with two photographers would receive a minimum of 120 images</li>
        <li>a Client having booked a 10 hour event with one photographer would receive a minimum of 100 images</li>
    </ul>
</p>

<h4>Delivery</h4>
<p>Within 90 days of the day the photographs were taken, the Photographer will provide the Client with images through:
    <ul>
        <li>an internet method (including Pixieset, Dropbox, Google Drive, SmugMug) or</li>
        <li>a tangible item (including USB or Hard Drive)</li>
    </ul>
</p>

<h4>Cooperation</h4>
<p>The parties agree to positive cooperation and communication for the best possible results within the definition of this assignment.
    Caitlin Nightingale is not responsible for key individuals, failure to be present or to cooperate during photography
    sessions, neither for missed images due to details not revealed.</p>

<h4>House Rules</h4>
<p>The Photographer is limited by the guidelines of the ceremony official or the reception site management. The Client agrees
    to accept the technical results of their imposition on the photographer. Negotiation with the officials for moderation
    of guidelines is the CLIENT’s responsibility.</p>

<h4>Liability</h4>
<p>FairlyWed is not responsible for the attendance or performance of the Photographer. The Photographer will take the utmost
    care with respect to exposure, transportation, and processing of photographs; including using professional grade equipment
    and backup equipment. However, in the unlikely event of the Clients photographs being lost, stolen or destroyed for reasons
    within or beyond the Photographer’s control, the latter, liability is limited to the return of all payments received
    for the event package. The limit of liability shall not exceed the contract price stated herein.</p>

<h4>Non-Guarantee</h4>
<p>Although the Photographer will take every possible care to produce photographs of all important and special events during
    the Event, the Photographer cannot place an unconditional guarantee on the above. Caitlin Nightingale will not be held
    responsible for any ruined photographs due to guests or other flashes; or any other ruined photographs due to any other
    cause in our outside of the Photographer’s control.</p>

<h4>Performance</h4>
<p>FairlyWed is not responsible for the attendance or performance of the Photographer. The performance of this contract on behalf
    of the Photographer shall be contingent upon acts of God, Flood, Fire, Warfare, Government laws or regulations, electrical
    failure, strikes by suppliers, and/or conditions beyond control.</p>

<h4>Sever-ability</h4>
<p>If any provision of this agreement is held to be invalid or unenforceable under the law, the validity of this agreement as
    a whole shall not be affected, and the other provisions of the agreement shall remain in full force and effect.</p>

<h4>Ownership of Photographs</h4>
<p>The Client shall have limited copyright ownership of the resulting images for personal use and for the purposes of the reproduction
    and distribution of photographs to family and friends. This is the minimum requirement of all Photographers on the FairlyWed
    Platform and a Photographer may not alter this limited copyright. However, often a Photographer will require attribution,
    restrict the sale of Photographs, and image editing. Please see the Default Agreement and the Photographer's specific
    contract for more details.</p>

<h4>Archival</h4>
<p>After Delivery, the Photographer will no longer be responsible for retaining copies of the images. The Client understands
    the need to make backups of digital images and keep up with current technologies to prevent the loss of digital photographs.</p>

<h2>FairlyWed Client-Photographer Default Contract</h2>
<p>The following requirements are default agreements made between the Client and Photographer. Unlike the FairlyWed Base Contract,
    the Default Contract may be altered or overridden by a separate agreement between the Client and the Photographer.</p>

<h4>Ownership of Photographs</h4>
<p>In addition to the limited copyright stipulated in the Base Contract, the following ownership applies:
    <ul>
        <li>The Client must obtain written permission from the Photographer and compensate prior to an event where the Client
            publishes or sells the photographs for profit.</li>
        <li>The Client must always give credit to the Photographer when using an image produced by the Photographer.</li>
        <li>The digital files created for the Client are works of art and cannot be altered. Unless approved by the Photographer,
            the digital files may not be edited or cropped in any way except for the following:
            <ul>
                <li>The digital negative may be cropped to accommodate for printing (5x7) but no further cropping than to the
                    print size is allowed.</li>
                <li>The digital negative may be cropped to a square for social media purposes, but no further cropping than to
                    the square shape is allowed.</li>
                <li>Please contact the Photographer with any specific requests or further questions.</li>
            </ul>
        </li>
        <li>The Client hereby assigns and grants the Photographer unrestricted rights to use and publish photographs of the Client
            or in which the Client may be included, for editorial, trade, advertising or any other purpose and in any manner
            or medium; to alter the same without restriction; and copyright the same. It is agreed that the Photographer
            may display and use the photographs taken for advertising, display, promotion, contests, public display, books,
            and any other purpose thought proper by the Photographer. This applies to any images created during the engagement
            session and the wedding day coverage.</li>
    </ul>
</p>

<h4>Cancellation</h4>
<p>FairlyWed will not initiate refunds due to a wedding cancellation by a Client, and a Photographer is under no obligation
    to do so.</p>

<h4>Pre-Event Consultation</h4>
<p>The parties agree to a pre-event consultation before the wedding date in order to finalize the actual shooting times and
    locations. Typically this will take place one month before the wedding.</p>

<h4>Event Guide</h4>
<p>The Client will be responsible for (or have someone designated for the responsibility of) identifying people/objects of whom/which
    specific photographs are desired. The pPhotographer will not be held accountable for not photographing desired people
    if there is no specific information given to do so.</p>

<h4>90-Minute Window</h4>
<p>The Client agrees to set aside at least 90 minutes to obtain photographs that cannot be taken during the ceremony or reception.
    This includes group photographs. If the late arrival of the Client prevents this window from occurring, the Photographer
    shall not be liable for failure to take desired photographs.</p>