<md-content class="md-padding" layout="column" layout-gt-sm="row" layout-fill>
    <md-card flex>
        <md-card-content flex>
            <div layout="row" layout-align="center center">
                <i class="mdi mdi-asdf cards-icon" aria-hidden="true"></i>
            </div>
            <md-card-title-text layout="row" layout-align="center center" class="cards-title">
                <span class="md-headline main-card-title brand-font">Join</span>
            </md-card-title-text>
            <div class="cards-text">
              Apply to become a Wedding Photographer on our site! Stop spending your time searching for couples and start booking couples who match with your personal style.
            </div>
            <div class="md-padding" flex layout="row" layout-align="center center"><md-button class="md-raised" ui-sref="account.vendor">Learn More</md-button></div>
        </md-card-content>
    </md-card>
    <md-card flex>
        <md-card-content flex>
            <div layout="row" layout-align="center center">
                <i class="mdi mdi-asdf cards-icon" aria-hidden="true"></i>
            </div>
            <md-card-title-text layout="row" layout-align="center center" class="cards-title">
                <span class="md-headline main-card-title brand-font">Follow</span>
            </md-card-title-text>
            <div class="cards-text">
              We love learning about and sharing what's new in the word of wedding photography! Share your favorite wedding photos with us and we'll pass them on!
            </div>
            <div class="md-padding" flex layout="row" layout-align="center center"><md-button class="md-raised" ng-href="https://twitter.com/FairlyWed">Tweet Us</md-button></div>
        </md-card-content>
    </md-card>
    <md-card flex>
        <md-card-content flex>
            <div layout="row" layout-align="center center">
                <i class="mdi mdi-asdf cards-icon" aria-hidden="true"></i>
            </div>
            <md-card-title-text layout="row" layout-align="center center" class="cards-title">
                <span class="md-headline main-card-title brand-font">Contact</span>
            </md-card-title-text>
            <div class="cards-text">
                Have questions about the site? Have an idea for how we could make our site even better? Know a good joke? Know a friend who is getting married? Tell us about it!
            </div>
            <div class="md-padding" flex layout="row" layout-align="center center"><md-button class="md-raised" ng-href="mailto:contact@fairlywed.com">Email Us</md-button></div>
        </md-card-content>
    </md-card>
</md-content>