<md-content class="md-padding" layout-xs="column" layout="row" ng-if="vm.photos.list.length > 0">
    <div flex layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Use our Match Maker to find the perfect photographer for your big day!</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div layout="row">
                    <md-content layout="column" flex-xs flex-gt-xs="50">
                        <md-card ng-repeat="photo in vm.photos.list" ng-if="$index % 2 == 0" ng-click="vm.clickPhotos(photo.id)">
                            <img ng-src="/galleryImages/{{photo.id}} ">
                            <md-card-actions layout="column " layout-align="center start " layout-gt-sm="row " layout-align-gt-sm="center center ">
                                <md-checkbox ng-model="photo.liked ">Like</md-checkbox>
                            </md-card-actions>
                        </md-card>
                    </md-content>
                    <md-content layout="column " flex-xs flex-gt-xs="50 ">
                        <md-card ng-repeat="photo in vm.photos.list " ng-if="$index % 2==1 " ng-click="vm.clickPhotos(photo.id)">
                            <img ng-src="/galleryImages/{{photo.id}} ">
                            <md-card-actions layout="column " layout-align="center start " layout-gt-sm="row " layout-align-gt-sm="center center ">
                                <md-checkbox ng-model="photo.liked ">Like</md-checkbox>
                            </md-card-actions>
                        </md-card>
                    </md-content>
                </div>
            </md-card-content>
        </md-card>
    </div>
</md-content>