<md-content class="md-padding" layout-xs="column" layout="row" ng-if="vm.photos.list.length > 1">
    <div flex layout="column">
        <md-card layout="column" layout-gt-sm="row">
            <md-card-title flex="100" flex-gt-sm="20">
                <md-card-title-text>
                    <h2 class="md-headline">Which photo do you like more?</h2>
                </md-card-title-text>
            </md-card-title>
            <md-content layout="column" flex>
                <md-grid-list md-cols="2" md-row-height-gt-md="1:1" md-row-height="2:2"
                    md-gutter="12px" md-gutter-gt-sm="8px">
                    <md-grid-tile ng-repeat="photo in vm.photos.list " ng-click="vm.clickPhotos(photo.id)" flex="100">
                        <img ng-src="/galleryImages/{{photo.id}}" class="scale-image-to-square">
                    </md-grid-tile>
                </md-grid-list>
            </md-content>
        </md-card>
    </div>
</md-content>