<div layout="row">
    <md-content layout="column" flex-xs flex-gt-xs="50">
        <md-card ng-repeat="photo in vm.photos.list" ng-if="$index % 2 == 0" ng-click="vm.clickPhotos(photo.id)">
            <img ng-src="/galleryImages/{{photo.id}} ">
            <md-card-actions layout="column " layout-align="center start " layout-gt-sm="row " layout-align-gt-sm="center
            center ">
                <md-checkbox ng-model="photo.liked ">Like</md-checkbox>
            </md-card-actions>
        </md-card>
    </md-content>
    <md-content layout="column " flex-xs flex-gt-xs="50 ">
        <md-card ng-repeat="photo in vm.photos.list " ng-if="$index % 2==1 " ng-click="vm.clickPhotos(photo.id)">
            <img ng-src="/galleryImages/{{photo.id}} ">
            <md-card-actions layout="column " layout-align="center start " layout-gt-sm="row " layout-align-gt-sm="center
            center ">
                <md-checkbox ng-model="photo.liked ">Like</md-checkbox>
            </md-card-actions>
        </md-card>
    </md-content>
</div>