<md-input-container class="md-block" flex-gt-sm>
    <label>Package</label>
    <md-select ng-model="vm.search.parameters.package" ng-change="vm.updatePhotographersList()">
        <md-option ng-repeat="package in vm.packages.list" ng-value="{{package.id}}">
            {{package.name}}
        </md-option>
    </md-select>
</md-input-container>

<div layout-gt-xs="row">
    <md-input-container class="md-block" flex-gt-xs>
        <label>Where is the wedding?</label>
        <input id="searchTextField" type="text" size="50" placeholder="Address" autocomplete="on" runat="server" ng-init="vm.initialize()"
            name="location">
    </md-input-container>

    <md-input-container>
        <label>Date</label>
        <md-datepicker type="date" id="date" name="date" ng-model="vm.search.parameters.date" placeholder="yyyy-MM-dd" ng-change="vm.updatePhotographersList()"
            required></md-datepicker>
    </md-input-container>
</div>