<header>
  <div layout="row"><span flex></span>
    <h1 class="md-display-4 brand-font">FairlyWed</h1><span flex></span>
  </div>
  <div layout="row"><span flex></span>
    <h2 class="md-display-1">Book Your Perfect Wedding Photographer</h2><span flex></span>
  </div>
</header>
<md-content class="md-padding" layout="column" layout-gt-sm="row" layout-fill>
  <md-card flex>
    <md-card-content flex>
      <div layout="row" layout-align="center center">
        <i class="mdi mdi-magnify" aria-hidden="true" style="font-size: 80px"></i>
      </div>
      <md-card-title-text layout="row" layout-align="center center">
        <span class="md-headline">Find</span>
      </md-card-title-text>
      Find the perfect photographer for your wedding day! Photographers only show up if they are available on the day of your wedding,
      offer the package you want, and will drive to your location for free!
    </md-card-content>
  </md-card>
  <md-card flex>
    <md-card-content flex>
      <div layout="row" layout-align="center center">
        <i class="mdi mdi-thumbs-up-down" aria-hidden="true" style="font-size: 80px"></i>
      </div>
      <md-card-title-text layout="row" layout-align="center center">
        <span class="md-headline">Compare</span>
      </md-card-title-text>
      Use our matchmaker tool to compare images from different photographers to find the photographers who match best with your
      own personal style. The longer you keep going, the stronger your matches will be!
    </md-card-content>
  </md-card>
  <md-card flex>
    <md-card-content flex>
      <div layout="row" layout-align="center center">
        <i class="mdi mdi-tag-heart" aria-hidden="true" style="font-size: 80px"></i>
      </div>
      <md-card-title-text layout="row" layout-align="center center">
        <span class="md-headline">Book</span>
      </md-card-title-text>
      Once you have found the perfect photographer, all you need to to is click the Book button! No haggling, no back-and-forth
      to see if the photographer is available. Just click Book, and you are all set!
    </md-card-content>
  </md-card>
</md-content>
<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Find A Photographer</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <photographer-search></photographer-search>
      </md-card-content>
    </md-card>
  </div>
</md-content>

<photographer-matchmaker></photographer-matchmaker>

<photographer-list></photographer-list>