<!-- <md-tabs class="main-toolbar"> 
    <md-tab label="About" ui-sref=".about" md-active-nc="vm.isCurrentState('photographers.about')"></md-tab> 
    <md-tab label="Gallery" ui-sref=".gallery" md-active-nc="vm.isCurrentState('photographers.gallery')"></md-tab> 
    <md-tab label="Booking" ui-sref=".booking" md-active-nc="vm.isCurrentState('photographers.booking')"></md-tab> 
</md-tabs> 
 
 <div ui-view></div> -->

<photographer-profile-about></photographer-profile-about>
<photographer-profile-booking></photographer-profile-booking>
<photographer-profile-gallery></photographer-profile-gallery>