<!-- <div layout="row">
    <md-content layout="column" flex>
        <md-card>
            <md-card-content>
                <h1 class="md-display-2 brand-font">{{vm.currentSubvendor.details.name}}</h1>
                <p>{{vm.currentSubvendor.details.description}}</p>
            </md-card-content>
        </md-card>
    </md-content>
</div> -->

<md-content class="md-padding" layout="column" layout-gt-sm="row" layout-fill>
    <md-card flex>
        <md-card-content flex>
            <md-card-title-text layout="row" layout-align="center center" class="cards-title">
                <h3 class="md-headline main-card-title brand-font">{{vm.currentSubvendor.details.name}}</h3>
            </md-card-title-text>
            <div class="cards-text">
                {{vm.currentSubvendor.details.description}}
            </div>
        </md-card-content>
    </md-card>
</md-content>