<md-card class="fw-footer">
    <md-card-content>
        <div flex layout="column" layout-gt-sm="row">
            <span flex layout="column" layout-gt-sm="row" layout-align="start center">&copy; FairlyWed, Inc</span>
            <span flex layout="column" layout-gt-sm="row" layout-align="center center">
                <a href="mailto:contact@fairlywed.com" target="_top">contact@fairlywed.com</a>
            </span>
            <span flex layout="column" layout-align="center center" hide-gt-sm>---</span>
            <span flex layout="row">
                <span flex layout="column" layout-gt-sm="row" layout-align="end center">
                    <a href="https://www.facebook.com/fairlywed">
                        <i class="mdi mdi-facebook" aria-hidden="true" size="50"></i>
                    </a>
                </span>
                <span flex layout="column" layout-gt-sm="row" layout-align="end center">
                    <a href="https://twitter.com/FairlyWed">
                        <i class="mdi mdi-twitter" aria-hidden="true" size="50"></i>
                    </a>
                </span>
                <span flex layout="column" layout-gt-sm="row" layout-align="end center">
                    <a href="https://www.instagram.com/fairlywed1">
                        <i class="mdi mdi-instagram" aria-hidden="true" size="50"></i>
                    </a>
                </span>
            </span>
        </div>
    </md-card-content>
</md-card>