<md-content class="md-padding" layout="column" layout-gt-sm="row" layout-fill>
    <md-card flex>
        <md-card-content flex>
            <div layout="row" layout-align="center center">
                <i class="mdi mdi-magnify cards-icon" aria-hidden="true"></i>
            </div>
            <md-card-title-text layout="row" layout-align="center center" class="cards-title">
                <h3 class="md-headline main-card-title brand-font">Find</h3>
            </md-card-title-text>
            <div class="cards-text">
                No need to worry about falling in love with a photographer who is already booked. Photographers only show up on our list if they are available 
                on the day of your wedding, offer the package you want, and travel costs to your location are included in the price!
            </div>
        </md-card-content>
    </md-card>
    <md-card flex>
        <md-card-content flex>
            <div layout="row" layout-align="center center">
                <i class="mdi mdi-thumbs-up-down cards-icon" aria-hidden="true"></i>
            </div>
            <md-card-title-text layout="row" layout-align="center center" class="cards-title">
                <h3 class="md-headline main-card-title brand-font">Compare</h3>
            </md-card-title-text>
            <div class="cards-text">
                All of our photographers transparently list their prices and services with full digital rights included! 
                Use our matchmaker tool to compare images and find the photographers who match best with your own personal style.
            </div>
        </md-card-content>
    </md-card>
    <md-card flex>
        <md-card-content flex>
            <div layout="row" layout-align="center center">
                <i class="mdi mdi-camera cards-icon" aria-hidden="true"></i>
            </div>
            <md-card-title-text layout="row" layout-align="center center" class="cards-title">
                <h3 class="md-headline main-card-title brand-font">Book</h3>
            </md-card-title-text>
            <div class="cards-text">
                Once you have found the perfect photographer, click the Book button! No haggling required, you already know the price. 
                No back-and-forth to see if the photographer is available, you know they are! Just click Book, and you are all set!
            </div>
        </md-card-content>
    </md-card>
</md-content>