<md-content class="md-padding" layout="column" layout-gt-sm="row" layout-fill>
    <md-card flex>
        <md-card-content flex>
            <md-card-title-text layout="row" layout-align="center center" class="cards-title">
                <h3 class="md-headline main-card-title brand-font">Find</h3>
            </md-card-title-text>
            <div class="cards-text">
                We only list photographers if they are available on the day of your wedding!
            </div>
        </md-card-content>
    </md-card>
    <md-card flex>
        <md-card-content flex>
            <md-card-title-text layout="row" layout-align="center center" class="cards-title">
                <h3 class="md-headline main-card-title brand-font">Compare</h3>
            </md-card-title-text>
            <div class="cards-text">
                Find photographers who match your own personal style!
            </div>
        </md-card-content>
    </md-card>
    <md-card flex>
        <md-card-content flex>
            <md-card-title-text layout="row" layout-align="center center" class="cards-title">
                <h3 class="md-headline main-card-title brand-font">Book</h3>
            </md-card-title-text>
            <div class="cards-text">
                See prices and click the Book button. No haggling required!
            </div>
        </md-card-content>
    </md-card>
</md-content>