<md-content class="md-padding" layout="column" layout-gt-sm="row" layout-fill>
    <md-card flex>
        <md-card-content flex>
            <div layout="row" layout-align="center center">
                <i class="mdi mdi-magnify cards-icon" aria-hidden="true"></i>
            </div>
            <md-card-title-text layout="row" layout-align="center center" class="cards-title">
                <span class="md-headline">Find</span>
            </md-card-title-text>
            <div class="cards-text">
                Find the prefect photographer with the services that you need, at a price you can afford, and with the photos that you love.
                Photographers only show up if they are available on the day of your wedding, offer the package you want,
                and will drive to your location for free!
            </div>
        </md-card-content>
    </md-card>
    <md-card flex>
        <md-card-content flex>
            <div layout="row" layout-align="center center">
                <i class="mdi mdi-thumbs-up-down cards-icon" aria-hidden="true"></i>
            </div>
            <md-card-title-text layout="row" layout-align="center center" class="cards-title">
                <span class="md-headline">Compare</span>
            </md-card-title-text>
            <div class="cards-text">
                Compare photographers on price and their portfolio. All of our photographers transparently list their prices and the exact
                services they provide so no more stress of needing to haggle a price over the phone. Use our matchmaker tool
                to compare images and find the photographers who match best with your own personal style.
            </div>
        </md-card-content>
    </md-card>
    <md-card flex>
        <md-card-content flex>
            <div layout="row" layout-align="center center">
                <i class="mdi mdi-camera cards-icon" aria-hidden="true"></i>
            </div>
            <md-card-title-text layout="row" layout-align="center center" class="cards-title">
                <span class="md-headline">Book</span>
            </md-card-title-text>
            <div class="cards-text">
                Once you have found the perfect photographer, all you need to to is click the Book button! No haggling, no back-and-forth
                to see if the photographer is available. Just click Book, and you are all set!
            </div>
        </md-card-content>
    </md-card>
</md-content>